version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "wasmtime"
    groups:
      patch:
        update-types:
        - "patch"
