[package]
name = "containerd-shim-spin-v2"
version = "0.14.0"
authors = ["SpinKube Engineering Team"]
edition = "2021"
repository = 'https://github.com/spinkube/containerd-shim-spin'
license = "Apache-2.0"
homepage = 'https://github.com/spinkube/containerd-shim-spin'
description = """
Containerd shim for running Spin workloads.
"""

[dependencies]
containerd-shim-wasm = "0.5.0"
containerd-shim = "0.7.1"
log = "0.4"
spin-app = { git = "https://github.com/fermyon/spin", tag = "v2.4.3" }
spin-core = { git = "https://github.com/fermyon/spin", tag = "v2.4.3" }
spin-componentize = { git = "https://github.com/fermyon/spin", tag = "v2.4.3" }
# Enable loading components precompiled by the shim
spin-trigger = { git = "https://github.com/fermyon/spin", tag = "v2.4.3", features = ["unsafe-aot-compilation"] }
spin-trigger-http = { git = "https://github.com/fermyon/spin", tag = "v2.4.3" }
spin-trigger-redis = { git = "https://github.com/fermyon/spin", tag = "v2.4.3" }
trigger-sqs = { git = "https://github.com/fermyon/spin-trigger-sqs", rev = "ee1195ad76b78c41f9d8291e3470bcb0e8c01e66" }
trigger-command = { git = "https://github.com/fermyon/spin-trigger-command" , rev = "cc09ed61c5cd04de507b62a6f4912d8ae026bff6" }
spin-manifest = { git = "https://github.com/fermyon/spin", tag = "v2.4.3" }
spin-loader = { git = "https://github.com/fermyon/spin", tag = "v2.4.3" }
spin-oci = { git = "https://github.com/fermyon/spin", tag = "v2.4.3" }
spin-common = { git = "https://github.com/fermyon/spin", tag = "v2.4.3" }
spin-expressions = { git = "https://github.com/fermyon/spin", tag = "v2.4.3" }
wasmtime = "18.0.1"
tokio = { version = "1.37", features = ["rt"] }
openssl = { version = "*", features = ["vendored"] }
serde = "1.0"
serde_json = "1.0"
url = "2.3"
anyhow = "1.0"
oci-spec = { version = "0.6.3" }
futures = "0.3"
ctrlc = { version = "3.2", features = ["termination"] }


[dev-dependencies]
wat = "1"
