[package]
name = "containerd-shim-spin-v2"
version = "0.10.0"
authors = ["DeisLabs Engineering Team"]
edition = "2021"
repository = 'https://github.com/spinkube/containerd-shim-spin'
license = "Apache-2.0"
homepage = 'https://github.com/spinkube/containerd-shim-spin'
description = """
Containerd shim for running Spin workloads.
"""

[dependencies]
containerd-shim-wasm = { git = "https://github.com/jsturtevant/runwasi", branch = "runwasi-precompile-take-2" }
containerd-shim = "0.6.0"
log = "0.4"
spin-app = { git = "https://github.com/fermyon/spin", branch = "load-aot-compiled-components" }
spin-core = { git = "https://github.com/fermyon/spin", branch = "load-aot-compiled-components" }
spin-componentize = { git = "https://github.com/fermyon/spin-componentize", rev = "191789170abde10cd55590466c0660dd6c7d472a" }
spin-trigger = { git = "https://github.com/fermyon/spin", branch = "load-aot-compiled-components" }
spin-trigger-http = { git = "https://github.com/fermyon/spin", branch = "load-aot-compiled-components" }
spin-redis-engine = { git = "https://github.com/fermyon/spin", branch = "load-aot-compiled-components" }
trigger-sqs = { git = "https://github.com/kate-goldenring/spin-trigger-sqs", branch = "uses-aot-compilation-loader" }
spin-manifest = { git = "https://github.com/fermyon/spin", branch = "load-aot-compiled-components" }
spin-loader = { git = "https://github.com/fermyon/spin", branch = "load-aot-compiled-components" }
spin-oci = { git = "https://github.com/fermyon/spin", branch = "load-aot-compiled-components" }
spin-common = { git = "https://github.com/fermyon/spin", branch = "load-aot-compiled-components" }
wasmtime = "17.0.0"
tokio = { version = "1", features = ["rt"] }
openssl = { version = "*", features = ["vendored"] }
serde = "1.0"
serde_json = "1.0"
url = "2.3"
anyhow = "1.0"
oci-spec = { version = "0.6.3" }
